# Игнорировать файлы объектов и исполняемые файлы
*.o
*.out
*.exe

# Игнорировать директории компиляции
bin/
build/
dist/
venv/
outputs/
logs/
src/models/store
# Игнорировать временные файлы и кэши
*.log
*.tmp
*.cache
*.xml
.idea